<%% content_for :content do %>
  <div class="panel panel-default">
    <div class="panel-heading">Créer <%= singular_table_name.titleize %></div>
    <div class="panel-body">
      <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
    </div>
  </div>
<%% end %>

<%%= render template: 'layouts/profile' %>