<h1>Tous les animaux de type <%= @species.name %></h1>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <%= render @posts, cls: 'col-md-4' %>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'shared/sidebar' %>
  </div>
</div> 
